@use "sass:map";

// Mixins

@mixin icon($_vendor, $_icon-val) {
  content: url(#{map.get($paths, $_vendor)}#{$_icon-val});
}

@mixin icon__bg($_vendor, $_icon-val) {
  background-image: url(#{map.get($paths, $_vendor)}#{$_icon-val)});
}

@mixin icon__bullet($_vendor, $_icon-val) {
  list-item-image: url(#{map.get($paths, $_vendor)}#{$_icon-val)});
}

