/* -------------------------------
 * Default toggle to enable/disable the resulting long stylesheet as needed
 * ------------------------------*/

@use "sass:map";
@use "variables";

$x-icons--enabled: true !default;
$x-icons--currentColor: true !default;

// Mixins

@mixin x-icons__icon($_vendor, $_icon-val) {
  content: url(#{map.get(variables.$x-icons-paths, $_vendor)}#{$_icon-val});
}

@mixin x-icons__icon--virtual($_vendor, $_icon-val) {
  &:after {
    position: absolute;
    display: inline-block;
    z-index: 10;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: calc(100% / 3 * 2);
    height: calc(100% / 3 * 2);
    margin-left: 50%;
    margin-top: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: url(#{map.get(variables.$x-icons-paths, $_vendor)}#{$_icon-val});
  }
}

@mixin x-icons__icon--bg($_vendor, $_icon-val) {
  background-image: url(#{map.get(variables.$x-icons-paths, $_vendor)}#{$_icon-val});
  background-size: calc(100% / 3 * 2);
  background-repeat: no-repeat;
}

@mixin x-icons__icon--bullet($_vendor, $_icon-val) {
  list-style-image: url(#{map.get(variables.$x-icons-paths, $_vendor)}#{$_icon-val});
}

// CSS Selector Generation on toggle

@if $x-icons--enabled {
  @if $x-icons--currentColor {
    .x-icon,
    .x-icon__bg,
    .x-icon__bullet > li {
      fill: currentColor;
    }
  }

  @each $_vendor, $_vendor-map in variables.$x-icons {
    @each $_cat, $_cat-map in $_vendor-map {
      @each $_icon, $_icon-val in $_cat-map {
        img[data-url="#{$_vendor}-#{$_cat}-#{$_icon}"],
        img.x-icon.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include x-icons__icon($_vendor, $_icon-val);
        }

        .x-icon__virtual.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include x-icons__icon--virtual($_vendor, $_icon-val);
        }
        .x-icon__bg.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include x-icons__icon--bg($_vendor, $_icon-val);
        }

        ul.x-icon__bullet.x-icon__#{$_vendor}-#{$_cat}--#{$_icon},
        ol.x-icon__bullet.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include x-icons__icon--bullet($_vendor, $_icon-val);
        }

        ul.x-icon__bullet > li.x-icon--stateful.x-icon__#{$_vendor}-#{$_cat}--#{$_icon},
        ol.x-icon__bullet > li.x-icon--stateful.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include x-icons__icon--bullet($_vendor, $_icon-val);
        }
      }
    }
  }
}
