/*-------------------------------
 * Default toggle to enable/disable the resulting long stylesheet as needed
 * ------------------------------*/

@use "variables";
@use "mixins";

$x-icons--enabled: true !default;
$x-icons--currentColor: true !default;

// CSS Selector Generation on toggle

@if $x-icons--enabled {
  @if $x-icons--currentColor {
    .x-icon,
    .x-icon__bg,
    .x-icon__bullet > li {
      fill: currentColor;
    }
  }

  @each $_vendor, $_vendor-map in variables.$x-icons {
    @each $_cat, $_cat-map in $_vendor-map {
      @each $_icon, $_icon-val in $_cat-map {
        img[data-url="#{$_vendor}-#{$_cat}-#{$_icon}"],
        img.x-icon.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include mixins.icon($_vendor, $_icon-val);
        }

        .x-icon__bg.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include mixins.icon__bg($_vendor, $_icon-val);
        }

        ul.x-icon__bullet.x-icon__#{$_vendor}-#{$_cat}--#{$_icon},
        ol.x-icon__bullet.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include mixins.icon__bullet($_vendor, $_icon-val);
        }

        ul.x-icon__bullet > li.x-icon__stateful.x-icon__#{$_vendor}-#{$_cat}--#{$_icon},
        ol.x-icon__bullet > li.x-icon__stateful.x-icon__#{$_vendor}-#{$_cat}--#{$_icon} {
          @include mixins.icon__bullet($_vendor, $_icon-val);
        }
      }
    }
  }
}
